<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itxuan.mapper.ClazzMapper">
    <update id="update">
        update clazz
        <set>
            <if test="name != '' and name != null">                name = #{name},</if>
            <if test="room != null and room != ''">               room = #{room},</if>
            <if test="beginDate != null">              begin_date = #{beginDate},</if>
            <if test="endDate != null">               end_date = #{endDate},</if>
            <if test="masterId != null">               master_id = #{masterId},</if>
            <if test="subject != null">               subject = #{subject},</if>
            <if test="updateTime != null">               update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>
    <select id="list" resultType="com.itxuan.pojo.Clazz">
        select c.* ,
               (case when c.begin_date  > SYSDATE() then '未开班'
        when SYSDATE() > c.end_date then '已结课'
        else '已开班'
        end
        ) status, e.name as master_name from clazz c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != '' ">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin != null and end != null ">
                and c.end_date between #{begin} and #{end}
            </if>
        </where>
    </select>

</mapper>